<section>

    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <div class="title">
        <h1>CashOut Requests</h1>
        <hr>
    </div>
    <div class="container content">
        <div class="search-table" fxLayout="row">
            <img src="./assets/images/search.svg" alt="search">
            <input (keyup)="applyFilter($event)" placeholder="Search">
        </div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Room Name Column -->
            <ng-container matColumnDef="name">
                <th class="text-black" mat-header-cell *matHeaderCellDef> Room Name </th>
                <td mat-cell *matCellDef="let element"> {{element.event.eventName}} </td>
            </ng-container>

            <!-- Event Date Column -->
            <ng-container matColumnDef="date">
                <th class="text-black" mat-header-cell *matHeaderCellDef>Event Date </th>
                <td mat-cell *matCellDef="let element"> {{getDate(element.event.eventDate)}} </td>
            </ng-container>

            <!-- Event Start Time Column -->
            <ng-container matColumnDef="start">
                <th class="text-black" mat-header-cell *matHeaderCellDef> Start Time </th>
                <td mat-cell *matCellDef="let element"> {{getTime(element.event.startTime)}} </td>
            </ng-container>

            <!-- Event End Time Column -->
            <ng-container matColumnDef="end">
                <th class="text-black" mat-header-cell *matHeaderCellDef> End Time </th>
                <td mat-cell *matCellDef="let element"> {{getTime(element.event.endTime)}} </td>
            </ng-container>

            <!-- Host Name Column -->
            <ng-container matColumnDef="host">
                <th class="text-black" mat-header-cell *matHeaderCellDef>Host Name </th>
                <td mat-cell *matCellDef="let element"> {{element.event.user.username}} </td>
            </ng-container>

            <!-- Amount Column -->
            <ng-container matColumnDef="amount">
                <th class="text-black" mat-header-cell *matHeaderCellDef> Amount ($)</th>
                <td mat-cell *matCellDef="let element">{{getAmount(element.event.billing)}} </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <th class="text-black" mat-header-cell *matHeaderCellDef>Action/Status </th>
                <td mat-cell *matCellDef="let element">
                    <div fxLayout="row">
                        <button *ngIf="element.status == 'pending'" class="btn-decline" (click)="decline(element.event.id)">Decline</button>
                        <button *ngIf="element.status == 'pending'" class="btn-authorize" (click)="authorize(element.event.id)">Authorize</button>

                        <button *ngIf="element.status == 'unpaid'" class="yellow">Not-Paid</button>
                        <button *ngIf="element.status == 'paid'" class="green">Paid</button>
                    </div>

                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>

</section>
